

/* Add this CSS in your stylesheets */

/* Add this CSS in your stylesheets */

.create-container-ce {
    width: 100%;
    margin: 30px auto;
  }
  
  .create-card {
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(2, 2, 2, 0.6);
    padding: 20px;
    background: linear-gradient(135deg, #e2e1e1, #e0dfdf); /* Light Grey to White gradient */
    width: 80%; /* Adjust the width of the card */
    margin: auto; /* Center the card */
  }
  
  .create-admin-card {
    background-color: #fbfbfb; /* White background color for admin card */
  }
  
  .create-card-title {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
  }
  
  .form-group label {
    font-size: 16px;
    font-family: 'cursive';
    color: #333;
  }
  
  .form-control {
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; /* Adjust the width of the input */
    transition: border-color 0.3s ease-in-out;
  }
  
  /* Change border color on focus */
  .form-control:focus {
    border-color: #007bff; /* Border color on focus */
  }
  
  /* Responsive styles for small screens */
  @media (max-width: 767px) {
    .create-container-ce {
      width: 90%;
    }
  
    .card {
      padding: 15px;
      width: 90%; /* Adjust the width of the card on smaller screens */
    }
  
    .btn {
      font-size: 14px;
    }
  }
  